---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

<!-- ---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
<head>
    {% include head.html %}
    {% include head/custom.html %}
</head>

<body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="content-container">
      {% if page.show_title %}
          <h1>{{ page.title }}</h1>
      {% endif %}
      {{ content }}
    </div>

    <div class="page__footer">
        <footer>
            {% include footer/custom.html %}
            {% include footer.html %}
        </footer>
    </div>

    {% include scripts.html %}

</body>
</html> -->

